footer {
    min-width: 996px;
    background: #2b2b2b;
    padding: 50px 0 40px;
    width: auto!important;
    color: #888;
    text-align: center;
}

footer .help{
    width: 996px;
    margin: 0 auto 50px;
    text-align: left;
}

footer .help dl {
    float: left;
    width: 145px;
    height: 140px;
    padding-left: 15px;
    border-left: 1px solid #404040;
}

footer .help dl.first {
    margin-left: 45px;
}

footer .help dt {
    font-size: 14px;
    padding-bottom: 10px;
    color: #9c9c9c;
    line-height: 24px;
    font-weight: bold;
}

footer .help dd {
    line-height: 24px;
}

footer .help  dd a {
    color: #818181;
}

.last {
    margin-right: 0!important;
}

.sina {
    padding-left: 25px;
    background: url("../img/bottom_sina.gif") 0 center no-repeat;
}

footer .help dd.mfweixin, footer .help dd.mflvxing {
    padding-left: 25px;
    position: relative;
    background: url(../img/bottom_weixin.gif) 0 center no-repeat;
}

footer .help dd.mfweixin .weixinqr {
    border: 3px solid #fff;
    position: absolute;
    left: 25px;
    top: 22px;
    display: none;
    z-index: 500;
}

footer .help dd.mfweixin:hover a.weixinqr {
    display: block;
}

.help dd.mfweixin a:hover .weixinqr {
    display: block;
}

footer p {
    line-height: 24px;
    padding-bottom: 5px;
    font-size: 14px;
}

footer .bottom_lvxing_img {
    width: 86px;
    height: 86px;
    display: block;
}

.clear {
    clear: both;
    height: 0px;
    line-height: 0px;
    font-size: 0px;
}

a#go-top {
    position: fixed;
    right: 94px;
    top: 485px;
    display: none;
}

a#feedback {
    position: fixed;
    display: block;
    right: 94px;
    top: 545px;
}

a#go-top, a#feedback {
    background: #37a19e url(../img/gotop.gif) no-repeat -52px 0;
    width: 52px;
    height: 52px;
    text-align: center;
    line-height: 1000px;
    text-decoration: none;
    overflow: hidden;
    color: #999;
    font-size: 0.1px;
}

a#feedback {
    background-position: -52px -53px;
}

a#go-top:hover {
    background-position: 0 0;
}

a#feedback:hover {
    background-position: 0 -53px;
}
